# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.tox/
.cache
.pytest_cache/

# mypy
.mypy_cache

# Environments
.env
.venv

# App
*.db
server.pid

# contains wifi credentials
**/gyro_client/
