[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
loguru = "*"
sqlalchemy = "*"
fastapi-pagination = "*"

[dev-packages]
mypy = "*"
sqlalchemy-stubs = "*"
flake8 = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
faker = "*"
pytest-factoryboy = "*"
factory-boy = "*"

[requires]
python_version = "3.7.3"
